.gallery-container {
    width: 100%;
    overflow-x: auto;
    white-space: nowrap;
    -ms-overflow-style: none;
    /* scrollbar-width: none; */
    padding: 30px;
}

.gallery-row {
    display: flex;
    flex-direction: row;
    gap: 16px;
    max-width: 1280px;
    margin: 0 auto;
}

.gallery-image-card {
    display: inline-block;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    height: 400px;
}

.gallery-image-card img {
    max-width: 300px;
    max-height: 300px;
    border-radius: 5px;
}

.gallery-image-info {
    margin-top: 10px;
}

.gallery-image-info p {
    margin: 5px;
    font-size: 12px;
    line-height: 14px;
}