.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-weight: bold;
    position: absolute;
    width: 50%;
    height: 50%;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

* {
    box-sizing: border-box;
}

.container input {
    border-radius: 10px;
    margin: 5px;
    padding: 20px;
    width: 50%;
    box-shadow: 2px 1px 10px 3px rgba(0, 0, 0, 0.33);
}

.container button {
    border-radius: 10px;
    margin: 15px;
    padding: 35px;
    width: 50%;
    background-color: lightgreen;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 2px 1px 10px 3px rgba(0, 0, 0, 0.33);
    transition: transform 0.2s ease, background-color 0.2s ease, box-shadow 0.2s ease;
}

.container button:hover {
    background-color: #90EE90;
}

.container button:active {
    transform: scale(0.95);
    background-color: #4c854c;
    color: white;
    font-weight: 100;
    box-shadow: 2px 1px 5px 1px rgba(0, 0, 0, 0.33);
}

.logoContainer {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.logo {
    display: flex;
    justify-content: space-around;
    width: 50%;
    height: 100%;

}

.logo div {
    /* flex: 1; */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-size: 7vw;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    -webkit-text-stroke: 2px black;
    width: 100%;
    opacity: 0.7;
    animation: fadeInUp .5s ease-in-out;
    box-shadow: 2px 1px 10px 3px rgba(0, 0, 0, 0.33);
}

.error-message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .7;
    background-color: darkgray;
    z-index: 1000;
}

.error-message div {
    position: fixed;
    background-color: tomato;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-weight: 900;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 1px 10px 3px rgba(0, 0, 0, 0.33);
    animation: blurImg .5s ease-in;
}

.pageContainer {
    position: relative;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.pageContainer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('/public/bg/Frame-25-08-2024-03-19-53.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(5px);
    z-index: -1;
}


@media (max-width: 768px) {
    .container {
        width: 90%;
        height: 33%;
    }

    .container input {
        width: 100%;
    }

    .container button {
        width: 100%;
    }

    .logo {
        width: 90%;
    }

    .logo div {
        font-size: 17vw;
    }

    .pageContainer::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('/public/bg/Frame-25-08-2024-03-10-37.jpeg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        filter: blur(5px);
        z-index: -1;
        animation: blurImg .5;
    }

}

/* animation */
@keyframes fadeInUp {
    0% {
        opacity: 0;
        height: 0;
    }

    100% {
        opacity: .7;
    }
}

@keyframes blurImg {
    0% {
        filter: blur(15px);
        opacity: 0;
    }

    100% {
        filter: blur(0);
        opacity: 1;
    }
}