.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.align-left {
    display: flex;
    justify-content: start;
    align-items: start;
}

.align-left-center {
    display: flex;
    justify-content: start;
    align-items: center;
}

.align-right {
    display: flex;
    justify-content: end;
    align-items: center;
}

.align-right {
    display: flex;
    justify-content: end;
    align-items: center;
}

.align-right-top {
    display: flex;
    justify-content: start;
    align-items: end;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gap {
    gap: 1rem;
}