.palitra-1 {
    background-color: #FD5900;
}

.palitra-2 {
    background-color: #F78105;
}

.palitra-3 {
    background-color: #FAAB35;
}

.palitra-4 {
    background-color: #249EA1;
}

.palitra-5 {
    background-color: #008083;
}

.palitra-6 {
    background-color: #005F61;
}