.home-box-container {
    /* padding-top: 10vh; */
    max-width: 1280px;
    width: 100%;
    height: 100%;
    background-color: lightgray;
}

.home-box-container.dark-mode {
    box-shadow: 2px 1px 33px 3px rgba(255, 255, 255, 0.33)
}

.home-box-container.light-mode {
    box-shadow: 2px 1px 33px 3px rgba(0, 0, 0, 0.33)
}

.home-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}