.page-nav-bar {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

@media (max-width: 768px) {
  .page-nav-bar {
    padding: 0 0 0 0;
  }
}