.folder-view-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999
}

.folder-view-container {
    max-width: 1280px;
    padding: 10px;
    margin-top: 10%;
    margin-bottom: 10%;
    height: 80%;
    width: 100%;
    border: 1px solid;
    border-color: tomato;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: hidden;
}

.folder-view-container input {
    font-size: xx-large;
    padding: 2%;
    width: 100%;
    border-radius: 10px;
    margin: 10px;
}

.folder-view-modal .command-panel i {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    font-size: 24px;
    background-color: tomato;
}