.folder-view-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
    animation: fadeIn 0.5s ease-in-out;
}

.folder-view-container {
    max-width: 1280px;
    padding: 10px;
    margin-top: 10%;
    margin-bottom: 10%;
    height: 80%;
    width: 100%;
    /* border: 1px solid; */
    /* border-color: tomato; */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow: hidden;
}

.color-picker-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.folder-view-container input {
    font-size: xx-large;
    padding: 2%;
    width: 100%;
    border-radius: 10px;
    margin: 10px;
}

.folder-view-modal .command-panel i {
    margin: 10px;
    padding: 10px;
    font-size: 39px;
}

/* FOLDER */
.folder-line {
    font-family: 'robota';
    font-weight: 'bolder';
    padding-left: '40px';
    padding-right: '20px';
    margin: '0px 0px 0px 0px';
    cursor: 'pointer';
    vertical-align: 'middle';
    width: "100%";
    /* box-shadow: 2px 1px 1px 3px rgba(0, 0, 0, 0.43); */
}

.folder-spinner {
    background-color: 'lightgray';
    animation: fadeInOutInOut 1.5s infinite;
}

@keyframes fadeInOutInOut {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}