.photo-of-the-day-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    z-index: 6;
}

.photo-of-the-day-box {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 6;
    transition: width 0.3s ease, height 0.3s ease;
    width: 100%;
}

.photo-of-the-day-box-text {
    position: absolute;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    transform: rotate(-90deg);
    transition: width 0.3s ease, height 0.3s ease, font-size 0.3s ease;
}

.photo-of-the-day-box>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: width 0.3s ease, height 0.3s ease;
}

.photo-of-the-day-box-by-author-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 10px;
    padding: 1rem 0 0 0;
    transition: width 0.3s ease, height 0.3s ease;
}

.photo-of-the-day-box-group {
    display: flex;
    width: 100%;
    border-radius: 10px;
    height: 100%;
    padding-top: .1rem;
    padding-bottom: .1rem;
}

.photo-of-the-day-box-by-author-left {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
    transition: width 0.3s ease, height 0.3s ease;
    padding-left: .5rem;
}

.photo-of-the-day-box-by-author-right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    padding-right: .5rem;
    transition: width 0.3s ease;
    cursor: pointer;
}

.photo-of-the-day-box-by-author-left>i,
.photo-of-the-day-box-by-author-right-text>i {
    padding: .3rem;
}

@media (max-width: 768px) {
    .photo-of-the-day-box {
        height: 100%;
    }
    .photo-of-the-day-box>img { 
        max-height: 200px;
        /* max-width: 200px; */
    }
    .photo-of-the-day-box-text { 
        display: flex;
        justify-content: end;
        /* padding: .3rem; */
        align-items: end;
        flex-direction: column;
        transform: rotate(0deg);
    }
    .photo-of-the-day-box-text>h1 {
        padding: .3rem;
        margin: 0;
     } 
        
}

@media (max-width: 1200px) and (min-width: 768px) {
    .photo-of-the-day-box-text>h1 {
        font-size: 18px !important;
    }
}