/* FOLDERS */
.folder-line {
    /* font-weight: 'bolder'; */
    padding-left: '40px';
    padding-right: '20px';
    margin: '0px 0px 0px 0px';
    cursor: 'pointer';
    vertical-align: 'middle';
    width: "100%";
    /* box-shadow: 2px 1px 1px 3px rgba(0, 0, 0, 0.43); */
    animation: 'fadeIn' 0.5s ease-in-out;
}

.folder-spinner {
    background-color: 'lightgray';
    animation: fadeInOutInOut 1.5s infinite;
}

@keyframes fadeInOutInOut {
    0% {
        opacity: .3;
    }

    50% {
        opacity: .8;
    }

    100% {
        opacity: .3;
    }
}