.folder-container {
    width: 100%;
    box-sizing: border-box;
    max-width: 1280px;
    box-shadow: 2px 1px 33px 3px rgba(0, 0, 0, 0.33);
}

.folder-line {
    padding: 20px;
    margin: 0px 0px 0px 0px;
    cursor: pointer;
    vertical-align: middle;
    width: 100%;
    height: 20%;
    animation: 'fadeIn' 0.5s ease-in-out;
}

.folder-line-selected {
    word-break: break-word;
    overflow-wrap: break-word; 
}
.folder-line-selected b {
    padding: 10px;
}

.folder-spinner {
    background-color: 'lightgray';
    animation: fadeInOutInOut 1.5s infinite;
}

.folder-container>div {
    flex: 1;
}

@keyframes fadeInOutInOut {
    0% {
        opacity: .3;
    }

    50% {
        opacity: .8;
    }

    100% {
        opacity: .3;
    }
}