.nav-bar {
    position: sticky;
    top: 0;
    right: 10px;
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    z-index: 5;
}
.nav-bar-icon:hover {
    background-color: #fd5900cd ;
    scale: 1.1;
}
.dark-theme .nav-bar-icon:hover {
    background-color: #005f61ea ;
    scale: 1.1;
}
.light-theme .nav-bar-icon:hover {
    background-color: #fd5900cd ;
    scale: 1.1;
}

.nav-bar-command-panel {
    width: 100%;
    max-width: 1280px;
    display: flex;
    /* background-color: cadetblue; */
    justify-content: flex-end;
}

.nav-bar i {
    padding: 5px;
    margin: 5px 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
    border: 2px solid;
    min-width: 40px;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}


@media (min-width: 1280px) {
    .nav-bar {
        left: auto;
        right: calc(50% - 640px);
    }
}