.nav-bar-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    z-index: 5;
    padding: .5rem;
}

.nav-bar-icon:hover {
    background-color: #fd5900cd;
    scale: 1.2;
}

.dark-theme .nav-bar-icon:hover {
    background-color: #005f61ea;
}

.light-theme .nav-bar-icon:hover {
    background-color: #fd5900cd;
}

.nav-bar-command-panel {
    width: 100%;
    max-width: 1280px;
    display: flex;
    justify-content: flex-end;
}

.nav-bar-command-panel>i {
    padding: .2rem;
    margin: .1rem;
    border-radius: 5px;
    cursor: pointer;
    border: 2px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}


@media (min-width: 768px) {
    .nav-bar-container {
        padding: .2rem;
    }
}