.user-equipment-table {
    padding: .3rem;
}

.user-equipment-equipment-line {
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.user-equipment-equipment-comannd i:hover {
    background-color: tomato;
}