.App {
  text-align: center;
}

.app-container {
  height: 100%;
}


* {
  box-sizing: border-box;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

body.light-theme {
  background-color: lightgray;
  color: #000000;
}

body.dark-theme {
  background-color: darkslategray;
  color: #ffffff;
}

.box-container {
  transition: box-shadow 0.3s ease;
}

/* Dark mode text defaultstyles */
.dark-mode р,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
input,
textarea,
select,
option {
  color: wheat;
}


/* Dark mode text defaultstyles */
.light-mode р,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
button,
input,
textarea,
select,
option {
  color: black;
}

.page-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.global-background-layer {
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: #249fa1cc
}

.dark-theme .global-background-layer {
  background-color: #005f61de;
  color: #FAAB35;
}

.light-theme .global-background-layer {
  background-color: #249fa1ed;
  color: #FAAB35;
}

.global-secondary-background-layer {
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: #249fa1df
}

.dark-theme .global-secondary-background-layer {
  background-color: #249fa1ed;
}

.light-theme .global-secondary-background-layer {
  background-color: #005f61f1;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.25) 5px 20px 28px, rgba(0, 0, 0, 0.22) 10px 10px 10px;
  text-shadow: rgba(0, 0, 0, 0.25) 5px 20px 28px, rgba(0, 0, 0, 0.22) 10px 10px 10px;
}

.scale-s:hover {
  scale: 1.02;
  transition: scale 0.3s ease;
}

.scale-m:hover {
  scale: 1.05;
  transition: scale 0.3s ease;
}

.scale-l:hover {
  scale: 1.1;
  transition: scale 0.3s ease;
}

.global-div-color {
  color: #F78105;
}

.light-theme .global-div-color {
  color: #FAAB35;
}

.darkt-theme .global-div-color {
  color: #F78105;
}


.global-input {
  box-shadow: rgba(0, 0, 0, 0.25) 5px 20px 28px, rgba(0, 0, 0, 0.22) 10px 10px 10px;
  border-radius: 10px;
  padding: 10px;
  background-color: rgba(139, 242, 255, 0.9);
  min-height: 40px;
  min-width: 40px;
  font-size: medium;
  text-align: center;
  color: black;
  width: 100%;
  transition: color 0.3s ease, color 0.3s ease, font-size 0.3s ease;
}

.global-input:hover {
  scale: 1.02;
}

.dark-theme .global-input {
  background-color: #249EA1;
  color: white;
}

.light-theme .global-input {
  background-color: #8BF2FF;
  color: black;
}

.light-theme .global-input::placeholder {
  color: black;
}

.dark-theme .global-input::placeholder {
  color: white;
}


.global-button {
  transition: color 0.3s ease, color 0.3s ease, font-size 0.3s ease;
  font-size: 24px;
  border-radius: 20px;
  padding: 10px;
  min-width: 40px;
  min-height: 40px;
  width: 100%;
}

.global-button:hover {
  scale: 1.02;
}

.global-button:active {
  scale: 0.98;
}

.dark-theme .global-button {
  color: white;
  background-color: #F78105;
}

.light-theme .global-button {
  color: black;
  background-color: #FAAB35;
}

/* ======================== */
/* ======================== */

@keyframes fadeIn {
  0% {
    opacity: 0;
    /* height: 0; */
  }

  100% {
    opacity: 1;
  }
}