body {
  margin: 0;
  font-family: "Tektur", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px; 
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

input,
button,
select,
textarea {
  border: 0;
}


html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  body {
    font-size: 14px; 
  }
}
@media (max-width: 480px) {
  body {
    font-size: 12px;
  }
}