:root {
  --color-1: #FD5900;
  --color-1-2: #fb925a;
  --color-2: #F78105;
  --color-2-2: #fac58b;
  --color-3: #FAAB35;
  --color-3-2: #ffefd6;
  --color-4: #249EA1;
  --color-4-2: #67dddf;
  --color-5: #008083;
  --color-5-2: #34c1c4;
  --color-6: #005F61;
  --color-6-2: #039597;

  --easy-background: #ff63474d;
}

body {
  margin: 0;
  font-family: "Tektur", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

input:focus,
textarea:focus,
select:focus {
  outline-style: solid;
  outline-width: .2rem;
  outline-offset: 0;
  outline-color: var(--color-4);
}

input,
button,
select,
textarea {
  border: 0;
}


html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 12px;
  }
}