body {
  margin: 0;
  font-family: "Tektur", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

input,
button,
select,
textarea {
  border: 0;
}


html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}